<p>Drogi użytkowniku <%= @resource.email %>!</p>

<p>Ktoś poprosił o linka z możliwością zmiany hasła. Możesz to zrobić klikając w linka poniżej:</p>

<p><%= link_to 'Zmień hasło', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Jeśli nie prosiłeś o zmianę hasła zignoruj tego maila.</p>
<p>Twoje hasło nie zmieni się dopóki nie klikniesz linka powyżej i nie stworzysz nowego.</p>
